header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: transparent;
    transition: all ease 0.5s;
}
header.black {
    background-color: #181818;
}
.header--Name {
    height: 35px;
    font-size: 40px;
    padding-right: 1400px;
}
.header--user {
    height: 30px;
}
.header--user img{
    height: 100%;
    border-radius: 3px;
}
.header--SearchBar{
    background-color: #333333;
    height: 30px;
    width: 200px;
    border-radius: 4px;
   display: flex;
}

@media (max-width: 760px) {
    .header--Name {
        font-size: 30px;
        padding-right: 20px;       
    }
    .header--user {
        height: 30px;
    }
}